.merch_in_cart {
  margin-top: 30px;
  font-size: 220%;
}
.merch-image-in-cart {
  width: 7.5%;
  margin: 1%;
}
.cart-merch-name {
  color: #1e272e;
  font-family: lato-light;
  text-decoration: none;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-left: 2%;
}
.cart-container {
  margin-top: 1%;
  width: 65%;
  margin-left: 15%;
  line-height: 55px;
}
.cart-container-left-ul {
  width: 90%;
  float: left;
  list-style: none;
  font-size: 40px;
  border-bottom: 1px solid rgb(189, 189, 189);
}
.cart-quantity {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  box-sizing: border-box !important;
  display: inline-flex;
  line-height: 35px;
  align-items: center;
  border: 1px solid #d9d9d9;
}
.cart-quantity__Button {
  display: inline-block;
  padding: 5px 9px;
  cursor: pointer;
  user-select: none;
}
.cart-form__quantity {
  vertical-align: top;
  display: inline-block;
}
.cart-quantity__CurrentQuantity {
  display: inline-block;
  width: 20px;
  padding: 0;
  font-size: 10px;
  text-align: center;
  letter-spacing: normal;
  background: transparent;
  border: none;
}
.cart-quantity--large .cart-quantity__Button {
  padding: 7px 15px;
  font-family: lato-light;
  font-size: 25px;
}
.cart-quantity--large .cart-quantity__CurrentQuantity {
  width: 35px;
  font-size: 20px;
}
.cart-merch-current-price {
  padding-left: 5%;
  display: inline-block;
  width: 13%;
  font-size: 25px;
  vertical-align: top;
  color: rgb(170, 50, 19);
}
.cart-merch-quantity {
  display: inline-block;
  width: 7%;
  font-family: lato-regular;
  /* padding-right: 7%; */
  font-size: 25px;
  vertical-align: top;
}
.cart-container-right-price {
  width: 10%;
  float: right;
  font-size: 25px;
  color: #a52606;
  text-align-last: left;
}
.cart-items-above-final-price {
  border-bottom: 1px solid rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  overflow: auto;
}
