input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.walletrecharge {
  font-family: "proxima_nova_rgregular";
  background-color: #fff;
}
.walletrecharge > h1 {
  font-size: 40px;
  padding-left: 10px;
  padding-bottom: 20px;
  color: #000;
}
.stripe {
  position: relative;
  display: flex;
  flex-direction: column;
}
.stripe button {
  position: relative;
  left: 46%;
  top: 500px;
}
