@font-face {
  font-family: "ostrich_reg";
  src: url("././fonts/ostrich_regular/ostrichsansinline-regular.woff")
      format("woff"),
    url("././fonts/ostrich_regular/ostrichsansinline-regular.svg#filename")
      format("svg");
}

@font-face {
  font-family: "ostrich_bold";
  src: url("./fonts/ostrich_bold/ostrich-sans-bold.woff") format("woff"),
    url("./fonts/ostrich_bold/ostrich-sans-bold.svg#filename") format("svg");
}

@font-face {
  font-family: "ostrich_thick";
  src: url("./fonts/ostrich_thick/ostrich-sans-black.woff") format("woff"),
    url("./fonts/ostrich_thick/ostrich-sans-black.svg#filename") format("svg");
}

@font-face {
  font-family: "jonathanharris";
  src: url("./fonts/jonathanharris/true_lies-webfont.woff") format("woff"),
    url("./fonts/jonathanharris/true_lies-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "ostrich_rounded";
  src: url("./fonts/ostrich_medium_rounded/ostrichsansrounded-medium.woff")
      format("woff"),
    url("./fonts/ostrich_medium_rounded/ostrichsansrounded-medium.svg")
      format("svg");
}
::-webkit-scrollbar {
  width: 12px;
  background: transparent;
  background-color: #111;
}
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #42455a;
}
::-webkit-scrollbar-thumb:hover {
  width: 15px;
  background: #fec325aa;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
  color: #1e272e;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
  background: transparent;
}

.menu ul {
  display: flex;
  margin: 20px 20px 0px 20px;
  background: transparent;
}
.menu ul li {
  font-family: "ostrich_rounded";
  font-size: 30px;
  list-style: none;
  margin: 0 30px 0px;
  cursor: pointer;
  background: transparent;
  transition: 0.2s;
}
.active {
  color: #292121;
  text-decoration: none;
  background: transparent;
  border: 2px solid transparent;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
}
.active:hover {
  border: 2px solid black;
  color: #fec325;
}
.non-active {
  color: #aaa4a4;
  text-decoration: none;
  background: transparent;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 2px solid transparent;
  border-radius: 3px;
}
.non-active:hover {
  border: 2px solid rgb(63, 56, 56);
  color: rgb(37, 37, 37);
}
.signup-btn {
  right: 20px;
  position: absolute;
  border: 2px solid #555555;
  border-radius: 12px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(#555, #555),
    radial-gradient(circle at center, #000, #fec3453a);
}

.signup-text {
  display: flex;
  align-items: center;
  padding: 5px 20px 1px 20px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  background: transparent;
  font-family: "ostrich_thick";
}
.account-head-wrapper {
  color: #4cd137;
}
.account-head-wrapper ul {
  display: none;
}

.account-head-wrapper:hover > ul {
  background-color: rgb(122, 122, 122);
  border-radius: 5px;
  display: flex;
  margin: 0px;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
}
.account-head-wrapper .ul:hover {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.account-head-wrapper ul li {
  margin: 5px 10px 5px 10px;
  color: #dbdbdb;
}
.account-head-item {
  color: #a0a0a0;
  text-decoration: none;
}
.account-head-item:hover {
  color: #d3d3d3;
}
.banner {
  width: 80%;
  height: 70%;
  font-family: "ostrich_bold";
  top: 20%;
  left: 15%;
  position: absolute;
  color: rgb(170, 169, 169);
  background: transparent;
}
.app-text {
  width: 50%;
  float: left;
}
.app-text h1 {
  font-family: "ostrich_bold";
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
  width: 640px;
  position: relative;
  margin-left: 130px;
  margin-top: 120px;
  color: #a19d9d;
  background: transparent;
  text-shadow: 4px 4px 10px #4d5068;
}

.app-text p {
  font-family: "ostrich_reg";
  width: 650px;
  font-size: 45px;
  margin: 30px 0 30px 70px;
  line-height: 37px;
  color: #a1a1a1;
}
.app-text span {
  font-family: "ostrich_rounded";
  width: 650px;
  font-size: 20px;
  margin: 30px 0 30px 70px;
  line-height: 37px;
  color: #a1a1a1;
}
.app-picture {
  width: 50%;
  float: right;
  background: transparent;
}
.app-picture img {
  width: 100%;
  float: right;
  background: transparent;
  resize: inherit;
}
.cloudcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: -1;
}
.cloud {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
  opacity: 0.4;
  position: fixed;

  width: 100%;
  height: 100%;
  background: url("./components/images/vectorcloud.png");
  background-size: cover;
  animation: animate 200s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 100px;
  }
  100% {
    background-position: 5440px;
  }
}
.particles {
  background: #fec345;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.btn {
  position: fixed;
  /*top:91%;*/
  left: 36.5%;
  transform: translateY(0%);
  text-align: center;
  /*transform:translateX(0%);*/
  width: 100%;
  /*-ms-ime-align:center*/
}

footer {
  position: fixed;
  bottom: 35px;
  right: 520px;
}
.btn {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: #000000;
  margin: 4px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #fec325;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px #42455a;
}

.btn {
  position: relative;
  /*margin-top: 9px;*/
  top: 34px;
  left: 500px;
  margin-left: 10;
  margin-right: -10;
}
.btn .foot-head {
  position: fixed;
  top: 20%;
  left: 23%;
  text-align: center;
}
.btn:hover .foot-cap {
  position: relative;
  margin-top: 9px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.2);
  color: #000000;
}
.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #fec325;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
.no_und {
  text-decoration: none;
}
.signin-box-container {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "ostrich_rounded";
  transform: translate(-50%, -50%);
  text-align: center;
  color: #d6d3d3;
  border: 2px;
  border-style: solid;

  border-color: #fec345;
  border-radius: 20px;
  background: #000000;
  /*box-shadow: 0px 0px 50px 5px #d6d3d318;*/
  animation: breathe 3s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    box-shadow: 0px 0px 20px 5px #00000090;
  }
  50% {
    box-shadow: 0px 0px 25px 8px #00000090;
  }
  100% {
    box-shadow: 0px 0px 20px 5px #00000090;
  }
}
.signin-box-container h1 {
  font-size: 50px;
  margin-top: 13%;
  margin-bottom: 30px;
  text-shadow: 2px 2px #7977747d;
}
.tbox {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3%;
  width: 80%;
  height: 40px;
  background: #b1b1b1b3;
  border-radius: 18px;
  margin: 10px auto;
  background: #b0b1b138;
}
.tbox input {
  background: none;
  border: none;
  text-align: center;
  outline: none;
  width: 90%;
  height: 40px;
  color: white;
}
.forgot {
  display: block;
  font-family: "Montserrat", sans-serif;
  width: 75%;
  text-decoration: none;
  color: #a6a6a4;
  text-align: right;
  margin: 0px auto;
  font-size: 10px;
  transition: 0.2s;
}
.forgot:hover {
  text-decoration: underline;
}
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loginbtn {
  width: 120px;
  height: 30px;
  border-radius: 1px;
  margin: 40px auto 10px;
  background: #3333307a;
  border: 1.3px;
  border-style: solid;

  border-color: #fec325;
  border-radius: 20px;
  font-family: "ostrich_thick";
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}
.loginbtn:hover {
  background: #fec325;
  color: black;
}
.new_member_text {
  display: block;
  font-family: "ostrich_thick";
  width: 130px;
  text-decoration: none;
  color: #fec3257a;
  text-align: center;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  transition: 0.3s;
}
.new_member_text:hover {
  color: #fec325;
}

.tours_list {
  /* padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px; */
  width: 90%;
  margin-left: 10%;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.h2_upcoming_tours {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 40px;
  color: #ffa801;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.596);
  user-select: none;
}
.tour {
  color: rgba(255, 255, 255, 0.733);
  display: grid;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 15%;
  flex-wrap: wrap;
  margin-left: 20px;
  padding: 50px 40px 45px 20px;
  transition: transform 0.1s;
}
.tour:hover {
  background: #7c7b6c36;
  transform: scale(1.01);
}
.tourLower {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.buy-btn {
  margin-top: 10px;
  justify-self: flex-end;
  font-size: 30px;
  background: transparent;
  color: #222f3e;
  border: none;
  cursor: pointer;
}
.buy-btn:hover {
  background: rgba(73, 67, 67, 0.384);
}

.orders {
  width: 60%;
  margin-left: 20%;
}

.order {
  margin-top: 30px;
  font-size: 280%;
}
.order h4 {
  font-size: 50%;
  margin-top: 5px;
  color: #838591c5;
  user-select: none;
}
.order h4:hover {
  color: #51535a;
  cursor: default;
}
