@font-face {
  font-family: "ostrich_reg";
  src: url("././fonts/ostrich_regular/ostrichsansinline-regular.woff")
      format("woff"),
    url("././fonts/ostrich_regular/ostrichsansinline-regular.svg#filename")
      format("svg");
}

@font-face {
  font-family: "ostrich_bold";
  src: url("./fonts/ostrich_bold/ostrich-sans-bold.woff") format("woff"),
    url("./fonts/ostrich_bold/ostrich-sans-bold.svg#filename") format("svg");
}

@font-face {
  font-family: "ostrich_thick";
  src: url("./fonts/ostrich_thick/ostrich-sans-black.woff") format("woff"),
    url("./fonts/ostrich_thick/ostrich-sans-black.svg#filename") format("svg");
}

@font-face {
  font-family: "jonathanharris";
  src: url("./fonts/jonathanharris/true_lies-webfont.woff") format("woff"),
    url("./fonts/jonathanharris/true_lies-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "ostrich_rounded";
  src: url("./fonts/ostrich_medium_rounded/ostrichsansrounded-medium.woff")
      format("woff"),
    url("./fonts/ostrich_medium_rounded/ostrichsansrounded-medium.svg")
      format("svg");
}
@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
}
@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
}
@font-face {
  font-family: "lato-thin";
  src: url("./fonts/Lato-Hairline/Lato-Thin.woff") format("woff"),
    url("./fonts/Lato-Hairline/Lato-Thin.svg") format("svg");
}
@font-face {
  font-family: "lato-light";
  src: url("./fonts/Lato-Light/Lato-Light.woff") format("woff"),
    url("./fonts/Lato-Light/Lato-Light.svg") format("svg");
}

@font-face {
  font-family: "lato-regular";
  src: url("./fonts/Lato-Regular/Lato-Regular.woff") format("woff"),
    url("./fonts/Lato-Regular/Lato-Regular.svg") format("svg");
}
@font-face {
  font-family: "lato-Bold";
  src: url("./fonts/Lato-Bold/Lato-Bold.woff") format("woff"),
    url("./fonts/Lato-Bold/Lato-Bold.svg") format("svg");
}

::-webkit-scrollbar {
  width: 12px;
  background: black;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #29261e;
}
::-webkit-scrollbar-thumb:hover {
  width: 15px;
  background: #363846;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fbfbfb38;
  color: #1e272e;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
  background: transparent;
}

.menu ul {
  display: flex;
  padding: 10px 0px 0px 0px;
  background: black;
  border-bottom: 4px solid #fec325;
  box-shadow: 3px 3px 6px 3px #05050585;
}
.menu ul li {
  text-transform: uppercase;
  font-family: "proxima_nova_rgregular", sans-serif;
  font-size: 19px;
  list-style: none;
  margin: 10px 10px 5px;
  cursor: pointer;
  background: transparent;
}
.menu ul li img{
  margin-top: -13px;
}
.non-active {
  color: #ffffff;
  text-decoration: none;
  background: transparent;
  padding-left: 4px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 2px;
  border: 2px solid transparent;
  border-radius: 3px;
}
.non-active:hover {
  border-top: 2px solid #fec325;
  transition-timing-function: linear;
  transition: all 0.1s;
}

.signup-btn {
  right: 20px;
  margin-top: 4px;
  border: 2px solid transparent;
  position: absolute;
  background: transparent;
  border-radius: 3px;
  padding: 2px;
  transition: all 0.1s;
}
.signup-btn:hover {
  border-top: 2px solid #fec345;
}
.signup-text {
  padding: 3px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "proxima_nova_rgregular";
  transition: all 0.1s;
}

@media screen and (max-width: 500px) {
  .menu ul li {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .non-active {
    top:5%;
    margin-top: 20px;
    padding-left: 2px;
    padding-right: 1px;
    padding-top: 4px;
    padding-bottom: 2px;
  }
  .signup-text{
    padding:3px;
    font-size: 14px;
  }
  .signup-btn {
    padding: 1px;
  }
  .menu ul li img{
    top: -10px;
    margin-top:-17px;
  }
}
.wallet {
  position: absolute;
  right: 130px;
  top: 7px;
  color: #fec345;
}
.account-header {
  position: absolute;
  right: 1%;
  top: 4px;
}
.account-head-wrapper {
  color: #fec325;
  transition: color 0.3s !important;
  border: 2px solid transparent;
  padding-top: 4px;
  border-radius: 3px;
  transition: border 0.4s;
}
.account-head-wrapper ul {
  display: none;
}
.account-head-wrapper:hover {
  border-top: 2px solid #fec345;
  color: #fec345;
}
.account-head-wrapper:hover > ul {
  background-color: #000000;
  border-radius: 5px;
  display: flex;
  margin: 0px;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  transition: all 0.4s;
  padding-top: 0px;
}
.account-head-wrapper .ul:hover {
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: all 0.4s;
}
.account-head-wrapper ul li {
  padding: 0px 15px 5px 15px;
  margin-right: 0px;
  margin-left: 0px;
  color: #dbdbdb;
}
.account-head-item {
  color: #ffffff;
  text-decoration: none;
}
.account-head-item:hover {
  color: #fec345;
  transition: all 0.4s;
}
.banner {
  width: 80%;
  height: 70%;
  font-family: "ostrich_bold";
  top: 20%;
  left: 15%;
  position: absolute;
  color: rgb(170, 169, 169);
  background: transparent;
}

.app-picture {
  width: 50%;
  float: right;
  background: transparent;
}
.app-picture img {
  width: 100%;
  float: right;
  background: transparent;
  resize: inherit;
}
.cloudcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: -1;
}
.cloud {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
  opacity: 0.4;
  position: fixed;

  width: 100%;
  height: 100%;
  background: url("./components/images/vectorcloud.png");
  background-size: cover;
  animation: animate 200s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 100px;
  }
  100% {
    background-position: 5440px;
  }
}
.particles {
  background: #fec345;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.btn {
  position: fixed;
  /*top:91%;*/
  left: 36.5%;
  transform: translateY(0%);
  text-align: center;
  /*transform:translateX(0%);*/
  width: 100%;
  /*-ms-ime-align:center*/
}

footer {
  position: fixed;
  bottom: 35px;
  right: 520px;
}
.btn {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: #000000;
  margin: 4px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #fec325;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px #42455a;
}

.btn {
  position: relative;
  /*margin-top: 9px;*/
  top: 34px;
  left: 500px;
  margin-left: 10;
  margin-right: -10;
}
.btn .foot-head {
  position: fixed;
  top: 20%;
  left: 23%;
  text-align: center;
}
.btn:hover .foot-cap {
  position: relative;
  margin-top: 9px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.2);
  color: #000000;
}
.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #fec325;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
.no_und {
  text-decoration: none;
}
.signin-box-container {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "proxima_nova_rgregular";
  transform: translate(-50%, -50%);
  text-align: center;
  color: #d6d3d3;
  border: 2px;
  border-style: solid;
  border-color: #fec345;
  border-radius: 20px;
  background: #000000;
  /*box-shadow: 0px 0px 50px 5px #d6d3d318;*/
  animation: breathe 3s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    box-shadow: 0px 0px 20px 5px #00000090;
  }
  50% {
    box-shadow: 0px 0px 25px 8px #00000090;
  }
  100% {
    box-shadow: 0px 0px 20px 5px #00000090;
  }
}
.signin-box-container h1 {
  font-family: "lato-light";
  text-transform: capitalize;
  font-size: 40px;
  margin-top: 13%;
  margin-bottom: 30px;
}
.tbox {
  font-family: "proxima_nova_rgregular";
  margin-bottom: 3%;
  width: 80%;
  height: 40px;
  background: #b1b1b1b3;
  border-radius: 18px;
  margin: 10px auto;
  background: #b0b1b138;
}
.tbox input {
  background: none;
  border: none;
  text-align: center;
  outline: none;
  width: 90%;
  height: 40px;
  color: white;
}
.forgot {
  display: block;
  font-family: "Montserrat", sans-serif;
  width: 75%;
  text-decoration: none;
  color: #a6a6a4;
  text-align: right;
  margin: 0px auto;
  font-size: 10px;
  transition: 0.2s;
}
.forgot:hover {
  text-decoration: underline;
}
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loginbtn {
  width: 120px;
  height: 30px;
  border-radius: 1px;
  margin: 40px auto 10px;
  background: #3333307a;
  border: 1.3px;
  border-style: solid;

  border-color: #fec325;
  border-radius: 20px;
  font-family: "ostrich_thick";
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}
.loginbtn:hover {
  background: #fec325;
  color: black;
}
.new_member_text {
  display: block;
  font-family: "lato-light";
  font-weight: bold;
  text-transform: uppercase;
  width: 130px;
  text-decoration: none;
  color: #fec3257a;
  text-align: center;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  transition: 0.3s;
}
.new_member_text:hover {
  color: #fec325;
}

.tours_list {
  /* padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px; */
  font-family: "lato-light";
  margin: 3% 2% 0% 2%;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
}
.h2_upcoming_tours {
  font-family: "lato-Bold";
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 40px;
  color: #3b3830;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.596);
  user-select: none;
}
.tour {
  background: #fbfbfb;
  display: block;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 20%;
  margin-left: 1%;  
  padding: 40px 20px 30px 15px;
  margin-bottom: 75px;
  transition: transform 0.1s;
  user-select: none;
  margin-right: 1%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1350px) {
  .tours_list{
    margin:4% 0%;
  }
  .tour {
    width:  300px ;
    padding: 30px 20px 10px 20px;
    display: block;
    margin-left: 2%;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1175px) {
  .tours_list{
    margin:4% 0%;
  }
  .tour {
    width:  35% ;
    padding: 30px 20px 10px 20px;
    display: block;
    margin-left: 7%;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 450px) {
  .tours_list{
    margin:4% 0%;
  }
  .tour {
    width: 75%;
    display: inline-block;
    margin:7%;
  }
}
.tour:hover {
  
  transform: scale(1.05);
  transition: transform 0.3s;
}
.tourLower {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.buy-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  margin-left: 25%;
  width: 50%;
  margin-top: 15px;
  text-decoration: none;
  display: inline-block;
  font-family: "Proxima Nova",sans-serif;
  font-size: 25px;
  background-color: #fbfbfb;
  color: #000000;
  border: 1.5px solid #00000060;
  border-radius: 5px;
  cursor: pointer;
}
.buy-btn:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #00000060;
  color: rgb(24, 24, 24);
}
.soldout{
  border: 1.5px solid transparent;
}
.soldout:hover {
  background:inherit !important;
  border: 1.5px solid transparent;
  cursor: not-allowed;
}
.orders-page-container {
  margin-bottom: 50px;
}
.orders {
  width: 60%;
  margin-left: 20%;
  user-select: none;
}

.order {
  margin-top: 30px;
  font-size: 220%;
  border-bottom: 1px solid #ccc;
}
.merch-image-in-orders {
  width: 7.5%;
  margin: 1%;
}
.order-merch-name {
  color: #1e272e;
  font-family: lato-bold;
  letter-spacing: 2px;
  text-decoration: none;
  width: 60%;
  display: inline-block;
}
.order-quantity {
  right: 10%;
  display: inline-block;
  width: 20%;
}
.order-price {
  color: rgb(170, 50, 19);
  font-size: 99%;
  padding-left: 5%;
  width: 23%;
  display: inline-block;
  text-align: right;
}
.order h4 {
  font-size: 50%;
  margin-top: 5px;
  color: #838591c5;
  user-select: none;
}
.order h4:hover {
  color: #51535a;
  cursor: default;
}
.order-ticket-img {
  width: 7.5%;
  background: #ecb3159d;
  border-radius: 4px;
}
.ticket-name {
  padding-left: 3%;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.ticket-current-price {
  display: inline-block;
  width: 12%;
  font-size: 80%;
  vertical-align: top;
  color: rgb(170, 50, 19);
}
.ticket-quantity {
  display: inline-block;
  width: 9%;
  padding-right: 7%;
  font-size: 80%;
  vertical-align: top;
}

.ticket-price {
  color: rgb(170, 50, 19);
  font-size: 100%;
  width: 28.5%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

.containerPlayer {
  width: 90%;
  box-sizing: border-box;
  color: #d2d5d6;
  font-size: 18px;
}
.containerPlayer > h1 {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fec345;
  font-size: 30px;
  padding: 20px;
}
.containerPlayer > h2 {
  font-size: 15px;
  text-align: center;
}
.mainPagefooter {
  background-color: #000;
  margin-bottom: -100px;
  padding: 20px;
  font-family: "proxima-nova", sans-serif;
}
.mainPagefooter li {
  text-transform: uppercase;
  margin: 0px;
  color: #fff;
  display: inline;
  padding: 10px 40px 0px 0px;
}
.mainPagefooter > p {
  color: #fff;
  padding: 10px 0px;
  text-transform: capitalize;
}
.mainPagefooter > h3 {
  color: #fff;
  padding: 10px 0px;
  font-size: 13px;
}
.foot {
  color: #fff;
  text-decoration: none;
}
.app-text {
  width: 50%;
  float: left;
}
.app-text h1 {
  font-family: "ostrich_bold";
  font-size: 60px;
  width: 60%;
  position: absolute;
  margin-left: 5%;
  margin-top: 120px;
  color: #a19d9d;
  background: transparent;
  text-shadow: 4px 4px 10px #4d5068;
}


.app-text p {
  font-family: "ostrich_bold";
  font-size: 35px;
  width: 30%;
  position: absolute;
  margin-left: 45%;
  bottom: -0.5%;
  color: #a19d9d;
  background: transparent;
  text-shadow: 4px 4px 10px #4d5068;
}
.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -80%;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
@media screen and (max-width: 1080px) {
  .app-text h1{
    font-size: 60px;
  }
  .app-text p{
    top:96%;
    margin-left: 40%;
    font-size: 40px;
  }
}
@media screen and (max-width: 500px) {
  .app-text h1{
    margin-top: 80px;
    font-size: 42px;
  }
  .app-text p{
    top:96%;
    margin-left: 38%;
    font-size: 24px;
  }
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
